/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;300&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: #f4f5f7;
  position: relative;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header Styles */
header {
  height: 60px;
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
  width: 100%;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 35px;
  margin: 0 10px;
}

nav .logo p {
  font-weight: bold;
  font-size: 13px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin: 0 10px;
  font-size: 12px;
}

nav ul li a:hover {
  color: #6070ff;
}

nav ul li a.active {
  color: #6070ff;
  border-bottom: solid 2px #6070ff;
  transition: border-bottom ease-out 0.5s 0.1s;
  padding-bottom: 3px;
}

/* Date */
.date {
  display: flex;
  justify-content: flex-end;
  padding: 40px;
}

.date p {
  font-weight: bold;
}

main {
  width: 100%;
}

/* Books Styles */
.books {
  padding: 0 20px;
  display: none;
  height: calc(100vh - 310px);
}

.books.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.books h2,
.books p {
  text-align: center;
  margin: 10px 0;
}

/* Form Styles */
form {
  width: 60%;
  margin: 0 auto;
  max-width: 600px;
}

.form-controls {
  margin: 10px 0;
}

.form-controls input {
  padding: 10px 15px;
  width: 100%;
  border: solid 1px #a0a9fc;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
}

.form-btn button {
  border: none;
  background: #6070ff;
  color: #fff;
  cursor: pointer;
  transition: background ease-out 0.5s 0.2s;
  width: 170px;
  height: 45px;
  font-family: Poppins, sans-serif;
}

.book button {
  background: #fff;
  border: solid 2px rgb(196, 5, 5);
  padding: 4px 20px;
  transition: background ease-out 0.5s 0.1s;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.form-btn button:hover {
  background: #4958da;
}

.form-btn button:focus {
  background: #3041db;
}

.form-btn button:disabled {
  background: #acacad;
  color: rgb(41, 41, 41);
}

/* List card styles */
.legend {
  border: solid 2px #6070ff;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.book {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px;
  background: #fff;
  padding: 15px;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  position: relative;
  -webkit-animation: slide-right ease-out 1s;
  -moz-animation: slide-right ease-out 1s;
  animation: slide-right ease-out 1s;
}

@keyframes slide-right {
  from {
    right: -800px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

.book button:hover {
  background: rgb(196, 5, 5);
  cursor: pointer;
  color: #fff;
}

.book p .title {
  font-weight: bold;
}

.book p .author {
  color: #6070ff;
  font-weight: bold;
}

form .error {
  color: red;
  font-size: 12px;
}

.books h2 {
  margin: 50px 0;
}

/* Contact section */

.books:nth-of-type(3) {
  flex-direction: column;
  align-items: center;
}

#contact h2 {
  margin: 10px 0;
}

.books:nth-of-type(3) .contact-info {
  width: 70%;
}

.contact-details {
  margin-top: 40px;
}

.books:nth-of-type(3) .contact-details ul li {
  padding: 6px 0;
}

.contact-details ul li a {
  text-decoration: underline;
  font-weight: bold;
}

/* Footer styles */
footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #6b6a6a;
}

@media (min-width: 768px) {
  header nav {
    padding: 20px 40px;
  }

  nav ul li a {
    font-size: 16px;
  }

  nav .logo p {
    font-weight: bold;
    font-size: 18px;
  }

  .book button {
    padding: 10px 50px;
  }
}
