/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;300&display=swap');

/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

main {
	background: #f4f5f7;
	width: 100%;
	height: 100vh;
}

/* Books Styles */
.books {
	padding: 20px 20px;
}

.books h2,
.books p {
	text-align: center;
	margin: 10px 0;
}

/* Line */
.line {
	width: 100px;
	height: 2px;
	margin: auto;
	border: none;
	background: #6070ff;
}

/* Form Styles */
form {
	width: 60%;
	margin: 0 auto;
}

.form-controls {
	margin: 10px 0;
}

.form-controls input {
	padding: 8px 15px;
	width: 100%;
}

.form-btn {
	display: flex;
	justify-content: flex-end;
}

.form-btn button {
	padding: 8px 40px;
	border: none;
	background: #6070ff;
	color: #fff;
  cursor: pointer;
  transition: background ease-out 0.5s 0.2s;
}

.form-btn button:hover {
  background: #4958da;
}

.form-btn button:focus {
  background: #3041db;
}

.form-btn button:disabled {
  background: #acacad;
  color: rgb(41, 41, 41);
}

/* List card styles */
.legend {
  border: solid 2px #6070ff;
  padding: 20px;
}

.book {
  display: flex;
  justify-content: space-between;
}
